
{% extends "AskMe/base.html" %}
{% load static %}



                {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-9  pr-4 " >
                <h1 class="mb-4">New questions</h1>

                 {% for question in questions %}
                    {% include "AskMe/question_card.html" %}
                        {% endfor %}


                    <div class="row justify-content-center">
                        {% include "AskMe/paginator.html" %}
                        </div>
                        </div>
                    </div>
                {%  endblock %}



>