
<div class="text-center mb-3">
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {%if questions.has_previous == False %} disabled {% endif %}"><a class="page-link" href="{% if questions.has_previous %}?page={{ questions.previous_page_number }}{% endif %}">Previous</a></li>
        {% for page_num in questions.paginator.page_range %}
            <li class="page-item {% if questions.number == page_num %}active{% endif %}"><a class="page-link" href="?page={{ page_num }}">{{page_num}}</a></li>
        {% endfor %}
   <li class="page-item {%if questions.has_next == False %} disabled {% endif %}"><a class="page-link" href="{% if questions.has_next %}?page={{ questions.next_page_number }}{% endif %}">Next</a></li>
  </ul>
</nav>
</div>
