
{% extends "AskMe/base.html" %}
{% load static %}




                {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-9  pr-4 " >

                 <h1 class="mb-4">Tag: {{ tag.text }}</h1>


                 {% for question in questions %}

                         {% for question_tag in question.tags.all %}
                          {% if tag.text == question_tag.text %}
                   {% include "AskMe/question_card.html" %}
                       {% endif %}
                     {% endfor %}
                        {% endfor %}




                        </div>
                    </div>

                    <div class="row justify-content-center">
                    {% include 'AskMe/paginator.html' %}
                    </div>
                {%  endblock %}
