
{% extends "AskMe/base.html" %}
{% load static %}




                {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-9  pr-4 " >
                {% for key,value in tag.items %}
                 <h1 class="mt-3 mb-4">Tag: {{ value }}</h1>
                 {%  endfor %}

                 {% for question in questions %}
                     {% if tag in question.tags %}
                   {% include "AskMe/question_card.html" %}

                       {% endif %}
                        {% endfor %}



                        {% include 'AskMe/paginator.html' %}
                        </div>
                    </div>
                {%  endblock %}
