
{%  extends 'AskMe/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

   {% block main-content %}
                <div class="row justify-content-begin">
                    <div class="col-xl-9 pr-4 " >
                <h1 class=" mb-4 mx-3">Edit profile:</h1>
                <!--<h1 class="display-1 text-danger">-->
                <!--Content-->
                <!--</h1>-->
                <form action="" method="POST">
{% csrf_token %}
                    <table>
{% crispy form %}
                        </table>
 <button type="submit" class="btn btn-success my-2 mx-3">Save</button>
</form>

            </div>
                </div>
    {% endblock %}





